<a href="https://colab.research.google.com/github/Amin-Lotfian/Python-project-excercises-and-projects/blob/main/1_Initials_Basics.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
object



variable
function


class
method= functions in classes
attribute = variables in classes
instance = it is a variable that a class is assigned to it

In [ ]:
print(2+2)
3*3

4

9

In [ ]:
!ls

sample_data

In [ ]:
!ls

sample_data

In [ ]:
%timeit [i**2 for i in range(1000)]

542 µs ± 147 µs per loop (mean ± std. dev. of 7 runs, 1000 loops each)

In [ ]:
%%timeit
L=[]
for n in range(1000):
    L.append(n**2)

490 µs ± 130 µs per loop (mean ± std. dev. of 7 runs, 1000 loops each)

In [ ]:
company_name = "jkjk"

In [ ]:
company_name

'jkjk'

In [ ]:
company2_name = 'jkjk'

In [ ]:
company2_name

'jkjk'

In [ ]:
type(company2_name)

str

In [ ]:
help(str.capitalize)

Help on method_descriptor:

capitalize(self, /)
    Return a capitalized version of the string.

    More specifically, make the first character have upper case and the rest lower
    case.

In [ ]:
job_title1= "data analyst"
job_title2= "data analyst"

In [ ]:
id(job_title1) , id(job_title2)

(133825276414576, 133825276412272)

In [ ]:
job_title3 = job_title1

# returns same id:

In [ ]:
id(job_title1) , id(job_title3)

(133825276414576, 133825276414576)

In [ ]:
my_print_func= print

In [ ]:
my_print_func("dddd")

dddd

In [ ]:
def greet():
  return "hello brother"

In [ ]:
greet()

'hello brother'

In [ ]:
def display_info(title, location, salary):
    return print(f"JOB:       {title}\nLOCATION:  {location}\nSALARY:    ${salary:,.0f}")

In [ ]:
job_title = "Data Analyst"
job_location = "United States"
job_salary = 90000

display_info(job_title, job_location, job_salary)

JOB:       Data Analyst
LOCATION:  United States
SALARY:    $90,000

In [ ]:
job_title = 'Data Analyst'
remove_word = 'Data'
final_title = job_title - remove_word

final_title

TypeError: unsupported operand type(s) for -: 'str' and 'str'

In [ ]:
skill = 'PYthon'
type(skill)

str

In [ ]:
help (str)

In [ ]:
skill.upper()

'PYTHON'

In [ ]:
skill.lower()

In [ ]:
str.upper(skill)

'PYTHON'

In [ ]:
skill.replace('P', 'J')

# **skill is itself a class. because all the strings are already a class**

In [ ]:
job_title = "Data Analyst"

job_title.split(sep=" ", maxsplit=5)

['Data', 'Analyst']

In [ ]:
data_science_jobs = [
    {'job_title': 'Data Scientist', 'job_skills': "Python, SQL, Machine Learning"},
    {'job_title': 'Data Analyst', 'job_skills': "SQL, Excel, Python"},
    {'job_title': 'Machine Learning Engineer', 'job_skills': "Python, TensorFlow, Keras"}
]

for job in data_science_jobs:
   job['job_skills'] = job['job_skills'].split(', ') # آقا این اسپلیت میاد تبدیل به لیست میکنه همه چیزو

data_science_jobs

In [ ]:
# This is how you should use the __add__() method
"Data" + " Analyst"

In [ ]:
# instead this is how to invoke the .__len__() method:
len(skill)

In [ ]:
job_title.replace("a", "o" , 1)

'Dota Analyst'

# **f-Strings (Formatted String Literals - Preferred)**

Use f-strings by prefixing a string with `f` and placing variables or expressions in `{}` braces directly within the string.  
They are both concise and efficient.

In [ ]:
print(f'Role: {role}, Skill required: {skill}')

In [ ]:
value = 1999
print(f'{value}')

1999

### Assignment Operators

Assignment operators are used to assign values to variables.

| Operator | Name                | Example |
|----------|---------------------|---------|
| =        | Assign              | x = y   |
| +=       | Add and assign      | x += y  |
| -=       | Subtract and assign | x -= y  |
| *=       | Multiply and assign | x *= y  |
| /=       | Divide and assign   | x /= y  |
| %=       | Modulus and assign  | x %= y  |
| **=      | Exponent and assign | x **= y |
| //=      | Floor divide and assign | x //= y  |

In [ ]:
x = 1

x += 1 # pythonic

x

In [ ]:
5 // 2 # integer division

In [ ]:
5 % 2 # remainder of 5 divided by 2

In [ ]:
"What's " + "up?"

In [ ]:
"Data Nerd " * 10 # string multiplication

In [ ]:
x = 1
y = 2

x, y = y, x # swap values

print("x is now: ", x)
print("y is now: ", y)

### Comparison Operators

Comparison operators compare two values and determine the relation between them.

| Operator | Name                  | Example |
|----------|-----------------------|---------|
| ==       | Equal to              | x == y  |
| !=       | Not equal to          | x != y  |
| >        | Greater than          | x > y   |
| <        | Less than             | x < y   |
| >=       | Greater than or equal | x >= y  |
| <=       | Less than or equal    | x <= y  |

In [ ]:
1 = 1

SyntaxError: cannot assign to literal here. Maybe you meant '==' instead of '='? (<ipython-input-9-ecdac3dcabfd>, line 1)

In [ ]:
salary_kelly = 50_000
salary_luke = 50_000

# Are Luke and Kelly's salaries the same?
salary_checker = (salary_kelly == salary_luke) # parantheses are optional

salary_checker

In [ ]:
type(salary_checker)

one = is for assigning
two == is for comparison

In [ ]:
# Applicant skill
applicant_skill = 'SQL'

# Skill required for job posting
job_skill = 'SQL'

years_experience = 5
# Check if the applicant's skill matches the required skill of the job posting and they meet the experience requirement.
if applicant_skill != job_skill:
    result = 'Skills still needed'
elif applicant_skill== job_skill and years_experience < 2:
    result = 'More experience needed'
else:
    result = 'Experience matches!'

# Print the result
result

# **we dont have any conditions in front of ELSE.**
# **Just an action in the next line**

In [ ]:
help(list)

# **LISTS**

# **Important**
* SETS are Employed for removing duplicates and for set operations, aiding in data cleaning and preparation.
* YOU CAN USE POP and Remove for LISTS

*   We use pop for dicts (with key)

*   We use Remove for sets

*   and nothing for tuples

* Dict and set dont have numerical indexing

*   we can use numerical indexing for list and tuples

* Set *items* are unchangeable but you can still remove items and add new items


* list and tuple and range indexing are as follows:
### Slicing Lists

Slicing Syntax:
* Syntax: `list[start:end:step]`  
    * `start`: The starting index (inclusive)
    * `end`: The ending index (exclusive)
    * `step`: Steps to take between items



| Feature          | List                                  | Dictionary                           | Set                                | Tuple                             |
|------------------|---------------------------------------|--------------------------------------|------------------------------------|-----------------------------------|
| USAGE           | `FOR A COLLECTION OF ORDERED ITEMS`                 | `FOR KEY-VALUE PAIRS`   | `FOR UNIQUE ITEMS`              | `FOR FIXED DATA`  |
| Syntax           | `[item1, item2, ...]`                 | `{'key1': value1, 'key2': value2}`   | `{item1, item2, ...}`              | `(item1, item2, ...)` or `item,`  |
| Type of Data     | Sequence                              | Mapping                              | Set                                | Sequence                          |
| Order            | Ordered                               | Unordered                            | Unordered                          | Ordered                           |
| Indexing         | Yes (by index)                        | Yes (by key)                         | No                                 | Yes (by index)                    |
| Duplicate Values | Allowed                               | Values can be duplicated, keys cannot| Not allowed                        | Allowed                           |
| Mutability       | Mutable                               | Mutable                              | Mutable                            | Immutable                         |
| Usage            | For a collection of ordered items     | For key-value pairs                  | For unique items                   | For fixed data                    |

In [ ]:
# Define a list of data science jobs
job_skills = ['sql','tableau','excel']
job_skills

['sql', 'tableau', 'excel']

In [ ]:
# Change the value of an item
job_skills[1] ='bigquery'

job_skills

['sql', 'bigquery', 'excel']

In [ ]:
## Add a job to the list
job_skills.append('looker')

job_skills

['sql', 'bigquery', 'excel', 'looker']

In [ ]:
# Insert an item into the list
job_skills.insert(2,'python')

job_skills

['sql', 'bigquery', 'python', 'excel', 'looker']

In [ ]:
# Remove an item from the list
job_skills.remove('looker')

job_skills

ValueError: list.remove(x): x not in list

In [ ]:
del job_skills[2]

In [ ]:
exampl= job_skills.pop(2)
job_skills

'excel'

In [ ]:
job_skills.pop() # last item

In [ ]:
job_skills

In [ ]:
# Concatenate
skills1 = ['SQL', 'Tableau']
skills2 = ['Excel']

skills3 = skills1 + skills2
skills3

In [ ]:
# Append
skills4 = ['Python', 'Power BI']

# Append all items from skills3 to skills4 list
for x in skills3:
    skills4.append(x)

skills4

In [ ]:
# Extend
skills5 = ['Statistics', 'Machine Learning']

skills5.extend(skills4)

skills5

# **JOIN**

In [ ]:
skills = ['Python', 'SQL', 'Excel']

In [ ]:
op= '.'.join(skills)

In [ ]:
op

'Python.SQL.Excel'

In [ ]:
type(op)

str

In [ ]:
help(str.join)

# **SLICING**

In [ ]:
skills = ['Python', 'SQL', 'Excel', 'R', 'Java']

# Extract the first two items
first_two = skills[0:2]
first_two

['Python', 'SQL']

In [ ]:
full_list = skills[:]
full_list

In [ ]:
last_two = skills[3:]
last_two

In [ ]:
last_third = skills[-3:]
last_third

In [ ]:
last_one = skills[-1:]
last_one

In [ ]:
# Extract every second item starting from the first
every_second = skills[::2]
every_second

In [ ]:
skill1, skill2, skill3, skill4, skill5 = skills

In [ ]:
type(skill1)

str

In [ ]:
print(skill1), print(skill2)
print(skill3)
print(skill4)
print(skill5)

Python
SQL
Excel
R
Java

In [ ]:
*first_skills, skill4, skill5 = skills

print(first_skills)
print(skill4)
print(skill5)

# **ALL THESE *DATA TYPES* ARE ALREADY CLASSSSSSS:**

# MUTABLE OBJECTS:
1. LISTS
2. DICTIONARIES
3. SETS

# IMMUTABLE OBJECTS:
1. STRINGS
2. INTEGERS
3. FLOAT
4. TUPLES

In [ ]:
help(dict)

* COLON    :
* SEMICOLON    ;

# **DICTIONARIES**

In [ ]:
# Define a dictionary of data science skills
job_type_skills = {
    'database': 'postgresql',
    'language': 'python',
    'library': 'pandas'
}

job_type_skills

{'database': 'postgresql', 'language': 'python', 'library': 'pandas'}

In [ ]:
job_type_skills['language']

In [ ]:
job_type_skills.get('language')

In [ ]:
job_type_skills.get('analytics', 'not found')

In [ ]:
job_type_skills.keys()

In [ ]:
job_type_skills.values()

In [ ]:
job_type_skills.items()

In [ ]:
job_type_skills.pop('library')
job_type_skills

{'database': 'postgresql', 'language': 'python'}

## Add Items

You can add items by either:

### Direct Assignment

# **Direct assignment which assigns a value to a *new* or *existing* key directly.**

In [ ]:
# Direct assignment
job_type_skills['framework'] = 'flask'
job_type_skills['language'] = 'sql'

# Return dictionary
job_type_skills

{'database': 'postgresql', 'language': 'sql', 'framework': 'flask'}

### Update()

Use the `update()` method which can add multiple items at once.

In [ ]:
# Update
job_type_skills.update({'cloud': 'google cloud', 'version_control': 'git'})

# Return dictionary
job_type_skills

# **SETS**

In [ ]:
# Define a set of data science skills
job_skills = {'tableau', 'sql', 'python', 'statistics'}

job_skills

{'python', 'sql', 'statistics', 'tableau'}

In [ ]:
# Adding a skill
job_skills.add('looker')

job_skills

{'looker', 'python', 'sql', 'statistics', 'tableau'}

In [ ]:
# Removing a skill
job_skills.remove('statistics')

job_skills

In [ ]:
# make a list of skills but some repeated values
skill_list = ['python', 'sql', 'statistics', 'tableau', 'python', 'sql', 'statistics', 'tableau']

skill_list = list(set(skill_list))

skill_list

# **TUPLES**

In [ ]:
help(tuple)

Help on class tuple in module builtins:

class tuple(object)
 |  tuple(iterable=(), /)
 |
 |  Built-in immutable sequence.
 |
 |  If no argument is given, the constructor returns an empty tuple.
 |  If iterable is specified the tuple is initialized from iterable's items.
 |
 |  If the argument is a tuple, the return value is the same object.
 |
 |  Built-in subclasses:
 |      asyncgen_hooks
 |      UnraisableHookArgs
 |
 |  Methods defined here:
 |
 |  __add__(self, value, /)
 |      Return self+value.
 |
 |  __contains__(self, key, /)
 |      Return key in self.
 |
 |  __eq__(self, value, /)
 |      Return self==value.
 |
 |  __ge__(self, value, /)
 |      Return self>=value.
 |
 |  __getattribute__(self, name, /)
 |      Return getattr(self, name).
 |
 |  __getitem__(self, key, /)
 |      Return self[key].
 |
 |  __getnewargs__(self, /)
 |
 |  __gt__(self, value, /)
 |      Return self>value.
 |
 |  __hash__(self, /)
 |      Return hash(self).
 |
 |  __iter__(self, /)
 |      Implement iter(self).
 |
 |  __le__(self, value, /)
 |      Return self<=value.
 |
 |  __len__(self, /)
 |      Return len(self).
 |
 |  __lt__(self, value, /)
 |      Return self<value.
 |
 |  __mul__(self, value, /)
 |      Return self*value.
 |
 |  __ne__(self, value, /)
 |      Return self!=value.
 |
 |  __repr__(self, /)
 |      Return repr(self).
 |
 |  __rmul__(self, value, /)
 |      Return value*self.
 |
 |  count(self, value, /)
 |      Return number of occurrences of value.
 |
 |  index(self, value, start=0, stop=9223372036854775807, /)
 |      Return first index of value.
 |
 |      Raises ValueError if the value is not present.
 |
 |  ----------------------------------------------------------------------
 |  Class methods defined here:
 |
 |  __class_getitem__(...) from builtins.type
 |      See PEP 585
 |
 |  ----------------------------------------------------------------------
 |  Static methods defined here:
 |
 |  __new__(*args, **kwargs) from builtins.type
 |      Create and return a new object.  See help(type) for accurate signature.

**We have 3 options for adding an Item to a tuple:**

In [ ]:
# Define a tuple of data science skills
job_skills = ('python', 'sql', 'statistics', 'tableau')
job_skills2 =('looker',) # very delicate
job_skills3 = job_skills.__add__(job_skills2)
job_skills3

('python', 'sql', 'statistics', 'tableau', 'looker')

In [ ]:
job_skills = ('python', 'sql', 'statistics', 'tableau')

job_skills = set(job_skills)

job_skills.add('looker')

job_skills = tuple(job_skills)

print(job_skills)
id(job_skills)

('tableau', 'sql', 'looker', 'statistics', 'python')

138768520532576

In [ ]:
job_skills1 = ('python', 'sql')
job_skills2= job_skills + job_skills1

job_skills2

('tableau', 'sql', 'looker', 'statistics', 'python', 'python', 'sql')

In [ ]:
job_skills += job_skills1
print(job_skills)
id(job_skills)

('tableau', 'sql', 'looker', 'statistics', 'python', 'python', 'sql')

138767697240480

In [ ]:
help(range)

In [ ]:
tuple(range(5))

(0, 1, 2, 3, 4)

In [ ]:
list(range(2,5))

[2, 3, 4]

### Logical Operators

Logical operators connect two or more conditions and evaluate the truth or falsity of the conditions combined.

| Operator | Name     | Example |
|----------|----------|---------|
| and      | Logical AND | x and y |
| or       | Logical OR  | x or y  |
| not      | Logical NOT | not x   |

### Membership Operators

Membership operators test for membership in a sequence, such as strings, lists, or tuples.

| Operator | Name            | Example   |
|----------|-----------------|-----------|
| in       | Membership      | x in y    |
| not in   | Not membership  | x not in y|

# **LOOPS**

In [ ]:
years_experience = {
    'luke': 3,
    'kelly': 5,
    'john': 2,
    'amin': 7
}

In [ ]:
for person in years_experience:
    print(person)

In [ ]:
for year in years_experience.values():
    print(year)

In [ ]:
for person, year in years_experience.items():
  if year > 5:
    print(person,year)

In [ ]:
for _ in range(4):
    print('hello')

#while is not used commonly

In [ ]:
list(years_experience)

['luke', 'kelly', 'john', 'amin']

In [ ]:
list(years_experience.items())

[('luke', 3), ('kelly', 5), ('john', 2), ('amin', 7)]

# We turned dictionary into list to be able to call by index:

In [ ]:
list0 = list(years_experience.items())
list0

[('luke', 3), ('kelly', 5), ('john', 2), ('amin', 7)]

In [ ]:
index = 0
while index < 4:
 key, year = list0[index]
 if year >= 5:
  print (key, 'has', year, 'years of experience')
  #print (key + ' has ' + str(year) + ' years of experience')
  # print('Qualified for the following roles: ', ', '.join(qualified_roles))
 index+= 1

list0

kelly has 5 years of experience
amin has 7 years of experience

[('luke', 3), ('kelly', 5), ('john', 2), ('amin', 7)]

In [ ]:
  print (key, 'has', year, 'years of experience')
  print (key + ' has ' + str(year) + ' years of experience')
  print('Qualified for the following roles: ', ', '.join(qualified_roles))

# LIST COMPREHENSION

In [ ]:
[x**3 for x in range(4)]

In [ ]:
[x for x in 'PYTHON']

# Same result

In [ ]:
analyst_list = []
for job in job_list:
 if "data_analyst" in job:
  analyst_list.append(job)

NameError: name 'job_list' is not defined

In [ ]:
analyst_list = [job for job in job_list if "data_analyst" in job]
analyst_list

# **EXCERCISE**
* There is a list called job_roles, in which there are some roles with their associated needed skills.
we have our own skills called my_skills.
we want the roles that our my_skills is a subset of their skills.

In [ ]:

# Define data science job roles and required skills
job_roles = [
    {'role': 'Data Analyst', 'skills': ['Python', 'SQL', 'Excel']},
    {'role': 'Data Scientist', 'skills': ['Python', 'R', 'Machine Learning', 'Deep Learning']},
    {'role': 'Machine Learning Engineer', 'skills': ['Python', 'TensorFlow', 'PyTorch', 'Scikit-Learn']},
    {'role': 'Data Engineer', 'skills': ['Python', 'Apache Spark', 'Hadoop', 'SQL']},
    {'role': 'Business Intelligence Analyst', 'skills': ['Python', 'SQL', 'Tableau', 'Power BI', 'Excel']},
    {'role': 'Quantitative Analyst', 'skills': ['R', 'Python', 'MATLAB', 'Statistics']},
    {'role': 'Operations Analyst', 'skills': ['Python', 'SQL', 'Data Visualization', 'Process Improvement']},
    {'role': 'Database Administrator', 'skills': ['SQL', 'Oracle', 'MySQL', 'Database Management']},
    {'role': 'AI Engineer', 'skills': ['Python', 'TensorFlow', 'PyTorch', 'Computer Vision']},
    {'role': 'Statistician', 'skills': ['R', 'SAS', 'Python', 'Statistical Modeling']}
]
# My skills
my_skills = ['Python', 'SQL', 'Excel']

FIRST SOLUTION: FOR - SUBSET

In [ ]:
help(set.issubset)

In [ ]:
selected_jobs = []
for job in job_roles:
  if set(my_skills).issubset(job['skills']):
    selected_jobs.append(job)
    print(job['role'] + '/n')
    print(job['skills'])

selected_jobs

Data Analyst/n
['Python', 'SQL', 'Excel']
Business Intelligence Analyst/n
['Python', 'SQL', 'Tableau', 'Power BI', 'Excel']

[{'role': 'Data Analyst', 'skills': ['Python', 'SQL', 'Excel']},
 {'role': 'Business Intelligence Analyst',
  'skills': ['Python', 'SQL', 'Tableau', 'Power BI', 'Excel']}]

SECOND SOLUTION: LIST COMPREHENSION -SUBSET

In [ ]:
qualified_roles = [ job['role'] for job in job_roles if set(my_skills).issubset(job['skills'])]
qualified_roles

['Data Analyst', 'Business Intelligence Analyst']

THIRD SOLUTION: FOR - ALL

In [ ]:
qualified_roles = [ ]

for job in job_roles:
    if all(skill in job['skills'] for skill in my_skills):
        qualified_roles.append(job['role'])

qualified_roles

['Data Analyst', 'Business Intelligence Analyst']

FOURTH SOLUTION: LIST COMPREHENSION -ALL

In [ ]:
qualified_roles = [job['role'] for job in job_roles if all(skill in job['skills'] for skill in my_skills)]

print('Qualified for the following roles: ', ', '.join(qualified_roles))

Qualified for the following roles:  Data Analyst, Business Intelligence Analyst

# **FUNCTIONS**

## Types of Functions

| Type of Function             | Example Function              | Section            |
|------------------------------|-------------------------------|--------------------|
| Built-In functions           | `max()`                       | 1. Getting Started |
| User-defined functions       | `def my_function(): pass`     | 16. Functions      |
| Lambda functions             | `lambda x: x + 1`             | 17. Lambda         |
| Standard Library functions   | `math.sqrt()`                 | 18. Modules        |
| Third-Party Library Functions| `numpy.array()`               | 19. Library        |

Note: We won't be covering Generator, Asynchronous, or Recursive Functions as they are out of scope of Data Analytics.

## 1- User-Defined Functions (arguments)

#### WARNING
Do not name your function the same as standard Python objects.

For example, this is a bad idea:

```python
def print(input):
    return "Hello" + input
```

In this case the built-in `print()` function would be overridden.

## Using a default value

In [ ]:
def calculate_salary(base_salary, bonus_rate=.1):

  total_salary = base_salary * (1 + bonus_rate)

  return total_salary

In [ ]:
salary_1 = 100000
rate_1 = 0.5
calculate_salary(salary_1, rate_1)



calculate_salary(salary_1)

## Using None to make an argument optional

In [ ]:
 def describe_pet(animal, name=None):
  print("\nI have a " + animal + ".")
  if name:
    print("Its name is " + name + ".")
describe_pet('horse', 'harry')
describe_pet('snake')

I have a horse.
Its name is harry.

I have a snake.

## Arbitrary Arguments (*Args)
* function receives a **tuple** of arguments.

In [ ]:
def analyze_skills(*args):

    for skill_salary_pair in args:
        skill, salary = skill_salary_pair
        print(f'- {skill}: ${salary:,}')

analyze_skills(('Data Analyst', 60000), ('Business Analyst', 65000), ('Data Engineer', 90000))

## Arbitrary Keyword Arguments (**Kwargs)
* function receives a **dictionary** of arguments.

In [ ]:
def analyze_skills(**skills_salaries):

    for skill, salary in skills_salaries.items():
        print(f'- {skill}: ${salary:,}')
analyze_skills(Data_Analyst=60000, Business_Analyst=65000, Data_Engineer=90000)

- Data_Analyst: $60,000
- Business_Analyst: $65,000
- Data_Engineer: $90,000

## 2- lambda Functions

a point: in the list comprehensions, in the first argument you can use all functions: built-in , user-defined, lambda,...

In [ ]:
salary_list = [100000, 200000, 150000, 120000, 80000, 750000]

def calculate_salary(base_salary, bonus_rate=.1):
  return base_salary * (1 + bonus_rate)

total_salary_list = [calculate_salary(salary) for salary in salary_list]

total_salary_list

In [ ]:
total_salary_list = [(lambda x: x * (1.1))(salary) for salary in salary_list]

total_salary_list

In [ ]:
total_salary_list = [salary * 1.1 for salary in salary_list]

total_salary_list

# **EXCERCISE** (DATA FILTERING)

In [ ]:
jobs_data = [
    {'job_title': 'Data Scientist',  'job_skills': ['Python', 'Machine Learning'], 'remote': True},
    {'job_title': 'Data Analyst',  'job_skills': ['Excel', 'SQL'], 'remote': False},
    {'job_title': 'Machine Learning Engineer', 'job_skills': ['Python', 'TensorFlow', 'Keras'], 'remote': True},
    {'job_title': 'Software Developer', 'job_skills': ['Java', 'C++'], 'remote': True},
    {'job_title': 'Data Scientist', 'job_skills': ['R', 'Statistics'], 'remote': False}
]

In [ ]:
O= filter(lambda job: job['remote'], jobs_data) # Mrrr Filter_criteria just returns true and false
# here we are replacing job with jobs_data
O # nonsense
list(O)

[{'job_title': 'Data Scientist',
  'job_skills': ['Python', 'Machine Learning'],
  'remote': True},
 {'job_title': 'Machine Learning Engineer',
  'job_skills': ['Python', 'TensorFlow', 'Keras'],
  'remote': True},
 {'job_title': 'Software Developer',
  'job_skills': ['Java', 'C++'],
  'remote': True}]

In [ ]:
P= filter(lambda job: 'Python' in job['job_skills'] and job['remote'], jobs_data)
list(P)

In [ ]:
filter_criteria = lambda job: 'Python' in job['job_skills'] and job['remote']

filter(filter_criteria, jobs_data)

python_remote_jobs = list(filter(filter_criteria, jobs_data))

python_remote_jobs:

# 3- MODULES

In [ ]:
import kal
kal.skill('python')

ModuleNotFoundError: No module named 'kal'

In [ ]:
from job_analyzer import calculate_bonus
calculate_bonus(5000, 4000)

0.25

In [ ]:
help(calculate_bonus)

Help on function calculate_bonus in module job_analyzer:

calculate_bonus(total_salary, base_salary)
    Calculate the bonus rate based on the total salary and base salary.

    Args:
      total_salary (float): The total salary.
      base_salary (float): The base salary.

    Returns:
      float: The bonus rate.

In [ ]:
from job_analyzer import *   #not preferred

# Functions, modules and libraries which are domestic to python:
# you just call these libraries, no need to install htem before.
* [Built-in Functions](https://docs.python.org/3/library/functions.html)

* [standard libraries](https://docs.python.org/3/library/index.html)

In [ ]:
import statistics # help on MODULE statistics
help(statistics)

In [ ]:
from statistics import mean # from statistics MODULE, we are importing mean FUNCTION
help (mean)

Help on function mean in module statistics:

mean(data)
    Return the sample arithmetic mean of data.

    >>> mean([1, 2, 3, 4, 4])
    2.8

    >>> from fractions import Fraction as F
    >>> mean([F(3, 7), F(1, 21), F(5, 3), F(1, 3)])
    Fraction(13, 21)

    >>> from decimal import Decimal as D
    >>> mean([D("0.5"), D("0.75"), D("0.625"), D("0.375")])
    Decimal('0.5625')

    If ``data`` is empty, StatisticsError will be raised.

In [ ]:
salary_listtt = [345345,435435,345345]
from statistics import mean, mode, median # from statistics MODULE, we are importing mean FUNCTION

print(mean(salary_listtt))
print(mode(salary_listtt))
print(median(salary_listtt))

375375
345345
345345

In [ ]:
from datetime import datetime  # from datetime MODULE, we are importing datetime CLASS
help(datetime)

# **(some functions or some classes or mixed) constitute module**



# **some modules constitute packages or libraries**

# **excercise data cleanup**

Turn the 'job_date' from a string value to a date time object.


Turn the 'job_skills' from a string value to an actual list object.

using domestic libraries like Date time

In [ ]:
data_science_jobs = [
    {'job_title': 'Data Scientist', 'job_skills': "['Python', 'SQL', 'Machine Learning']", 'job_date': '2023-05-12'},
    {'job_title': 'Machine Learning Engineer', 'job_skills': "['Python', 'TensorFlow', 'Deep Learning']", 'job_date': '2023-05-15'},
    {'job_title': 'Data Analyst', 'job_skills': "['SQL', 'R', 'Tableau']", 'job_date': '2023-05-10'},
    {'job_title': 'Business Intelligence Developer', 'job_skills': "['SQL', 'PowerBI', 'Data Warehousing']", 'job_date': '2023-05-08'},
    {'job_title': 'Data Engineer', 'job_skills': "['Python', 'Spark', 'Hadoop']", 'job_date': '2023-05-18'},
    {'job_title': 'AI Specialist', 'job_skills': "['Python', 'PyTorch', 'AI Ethics']", 'job_date': '2023-05-20'}
]

In [ ]:
print(data_science_jobs[0]['job_date'])
type(data_science_jobs[0]['job_date'])

2023-05-12

str

In [ ]:
test_date = data_science_jobs[0]['job_date']
print(datetime.strptime(test_date, '%Y-%m-%d'))

2023-05-12 00:00:00

In [ ]:
for job in data_science_jobs:
  job['job_date'] = datetime.strptime(job['job_date'], '%Y-%m-%d')

data_science_jobs

[{'job_title': 'Data Scientist',
  'job_skills': "['Python', 'SQL', 'Machine Learning']",
  'job_date': datetime.datetime(2023, 5, 12, 0, 0)},
 {'job_title': 'Machine Learning Engineer',
  'job_skills': "['Python', 'TensorFlow', 'Deep Learning']",
  'job_date': datetime.datetime(2023, 5, 15, 0, 0)},
 {'job_title': 'Data Analyst',
  'job_skills': "['SQL', 'R', 'Tableau']",
  'job_date': datetime.datetime(2023, 5, 10, 0, 0)},
 {'job_title': 'Business Intelligence Developer',
  'job_skills': "['SQL', 'PowerBI', 'Data Warehousing']",
  'job_date': datetime.datetime(2023, 5, 8, 0, 0)},
 {'job_title': 'Data Engineer',
  'job_skills': "['Python', 'Spark', 'Hadoop']",
  'job_date': datetime.datetime(2023, 5, 18, 0, 0)},
 {'job_title': 'AI Specialist',
  'job_skills': "['Python', 'PyTorch', 'AI Ethics']",
  'job_date': datetime.datetime(2023, 5, 20, 0, 0)}]

In [ ]:
print(data_science_jobs[0]['job_skills'])
type(data_science_jobs[0]['job_skills'])

['Python', 'SQL', 'Machine Learning']

str

In [ ]:
import ast
for job in data_science_jobs:
    job['job_skills'] = ast.literal_eval(job['job_skills'])

data_science_jobs

[{'job_title': 'Data Scientist',
  'job_skills': ['Python', 'SQL', 'Machine Learning'],
  'job_date': datetime.datetime(2023, 5, 12, 0, 0)},
 {'job_title': 'Machine Learning Engineer',
  'job_skills': ['Python', 'TensorFlow', 'Deep Learning'],
  'job_date': datetime.datetime(2023, 5, 15, 0, 0)},
 {'job_title': 'Data Analyst',
  'job_skills': ['SQL', 'R', 'Tableau'],
  'job_date': datetime.datetime(2023, 5, 10, 0, 0)},
 {'job_title': 'Business Intelligence Developer',
  'job_skills': ['SQL', 'PowerBI', 'Data Warehousing'],
  'job_date': datetime.datetime(2023, 5, 8, 0, 0)},
 {'job_title': 'Data Engineer',
  'job_skills': ['Python', 'Spark', 'Hadoop'],
  'job_date': datetime.datetime(2023, 5, 18, 0, 0)},
 {'job_title': 'AI Specialist',
  'job_skills': ['Python', 'PyTorch', 'AI Ethics'],
  'job_date': datetime.datetime(2023, 5, 20, 0, 0)}]

In [ ]:
file = open('sample_data/california_housing_test.csv')

content = file.read()

file.close()

print(content)

In [ ]:
type(content)

str

In [ ]:
import csv

data_dict = {}
for index, row in enumerate(csv.reader(content.strip().split('\n'))):
    if index == 0:
        # Initialize dictionary with column headers as keys
        for column in row:
            data_dict[column] = []
    else:
        # Append each element in the row to the correct list in the dictionary
        for col_index, value in enumerate(row):
            data_dict[list(data_dict.keys())[col_index]].append(value)

# Print the dictionary to verify contents
print(data_dict)

In [ ]:
P= data_dict['total_bedrooms']
for index, bed in enumerate(P):
    P[index] = float(bed)

In [ ]:
sum(data_dict['total_bedrooms'])

1589852.0

# **4- THIRD PARTY LIBRARIES**

# USING THIRD PARTY LIBRARIES:

In [ ]:
import pandas as pd
df = pd.read_csv('sample_data/california_housing_test.csv')

# file = open('sample_data/california_housing_test.csv')
# housing_data = pd.read_csv(file)

df

,longitude,latitude,housing_median_age,total_rooms,total_bedrooms,population,households,median_income,median_house_value
0,-122.05,37.37,27.0,3885.0,661.0,1537.0,606.0,6.6085,344700.0
1,-118.30,34.26,43.0,1510.0,310.0,809.0,277.0,3.5990,176500.0
2,-117.81,33.78,27.0,3589.0,507.0,1484.0,495.0,5.7934,270500.0
3,-118.36,33.82,28.0,67.0,15.0,49.0,11.0,6.1359,330000.0
4,-119.67,36.33,19.0,1241.0,244.0,850.0,237.0,2.9375,81700.0
...,...,...,...,...,...,...,...,...,...
2995,-119.86,34.42,23.0,1450.0,642.0,1258.0,607.0,1.1790,225000.0
2996,-118.14,34.06,27.0,5257.0,1082.0,3496.0,1036.0,3.3906,237200.0
2997,-119.70,36.30,10.0,956.0,201.0,693.0,220.0,2.2895,62000.0
2998,-117.12,34.10,40.0,96.0,14.0,46.0,14.0,3.2708,162500.0
2999,-119.63,34.42,42.0,1765.0,263.0,753.0,260.0,8.5608,500001.0

In [ ]:

# get sume of total_bedrooms
sum_total_bedrooms = df['total_bedrooms'].sum()

print(sum_total_bedrooms)

1589852.0

In [ ]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3000 entries, 0 to 2999
Data columns (total 9 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   longitude           3000 non-null   float64
 1   latitude            3000 non-null   float64
 2   housing_median_age  3000 non-null   float64
 3   total_rooms         3000 non-null   float64
 4   total_bedrooms      3000 non-null   float64
 5   population          3000 non-null   float64
 6   households          3000 non-null   float64
 7   median_income       3000 non-null   float64
 8   median_house_value  3000 non-null   float64
dtypes: float64(9)
memory usage: 211.1 KB

 1. list. we can inspect our desired library from here in the list
 2. then install
 3. then import

In [ ]:
pip list

In [ ]:
pip install pyjokes

Requirement already satisfied: pyjokes in /usr/local/lib/python3.10/dist-packages (0.8.3)

In [ ]:
import pyjokes
pyjokes.get_joke()

'A user friendly computer first requires a friendly user.'

## here we have third party libraries:


[PYPI](https://pypi.org/)


## for example panda and matplotlib:

[PANDA. Getting started](https://pandas.pydata.org/pandas-docs/stable/getting_started/intro_tutorials/02_read_write.html#min-tut-02-read-write)


[PANDA. API reference](https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.DataFrame.sort_values.html#pandas.DataFrame.sort_values)


[MATPLOT](https://matplotlib.org/stable/plot_types/index.html)

# **CLASSESSS**

In [ ]:
class BaseSalary:
  def __init__(self, base_salary, bonus_rate=0.1, symbol="$"):
    self.base_salary = base_salary
    self.bonus_rate = bonus_rate
    self.symbol = symbol
    self.total_salary = base_salary * (1 + bonus_rate)
    self.bonus = self.total_salary - self.base_salary

  def __repr__(self):
    return f'{self.symbol}{self.base_salary:,.0f}'

  def show_salary(self):
    return f'{self.symbol}{self.total_salary:,.2f}'

  def show_bonus(self):
    return f'{self.symbol}{self.bonus:,.0f}'

In [ ]:
salary = BaseSalary(100000, 0.6)

salary.show_salary()

'$160,000.00'

In [ ]:
salary.show_salary()

'$160,000'


Ctrl + shift + p : reload window

Ctrl + ~ : new terminal

Ctrl + shift + L : changing all the similar frases simultaneously both here and vs code

Ctrl + / : turning several lines of code into comments simultaneously